/* Globle styles*/
html{
    background-color: #eee;
}

body{ font-family: Georgia, 'Times new roman', Times, serif;
    font-size:10px;
    margin:auto;
    width: 100vw;
    text-align:center;
    overflow-x: hidden;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);

}
img {
    max-width: 100%;
}

hr{
    width: 100%;
    opacity: 0.5;
    color: lightgray;

}


ul{
    list-style: none;
    margin:0;
    padding: 0;

}

a{
    text-decoration: none;
    color: inherit;

}

p{
    color:lightslategray;
}

/* header */

header {
    background: black;
    padding: 1em;
    height: 30vh;
   
}

nav ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;

}

nav li{
    margin: 0 1rem;
    color: white;
    

}



 header p {
    font-size: 3rem;
    padding: 0rem 0;
    border-bottom: 1px solid lightgrey;
     color: white;
    
}

header h1 {
    font-size: 5rem;
     color: white;
     margin-top:40px;
 
}

.rotate {
    margin-top: 0rem;
    font-size: 3rem;
    opacity: 0.3;
     color: white;
}

/* About */

.aboutside {
    display: flex;
    flex-direction: row;
     margin: 20px 0 20px 0 ;
    
}


.aboutside h1{
    flex:2;
    font-size:0.7rem;
    padding-top:30px;

}
.aboutside pre{
    flex:2;
     font-size: 0.5rem;
     
     
     
}



.aboutside img{
    flex:1;
    max-width: 100%;
    max-height:100%;
   
   
}


/* PARALLAX SECTION */

.parallax {
    background-image: url('image/77.png');
    height: 65vh;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    
}

.parallax ul {
    font-size: 1.8rem;
    padding: 1rem;
}

.parallax li{
    margin: 2rem 0;
    color: white;
}

.bottoncall {
   font-size:2rem;
        color:white; 
        font-family:Georgia; 
        background-color:transparent; 
        border:none;     
}    

.bottoncall:hover{
    background-color: lightslategray;
}

/* RECENT POST*/

.recent-post {
    display: flex;
    flex-direction: column;/*column, row, column-reverse can also done */
    font-size: 1.3rem;
    margin: 1rem 0;
}

.recent-post-title {
    font-size: 2rem;
}

.recent-post-info{
    padding: 1.5rem;

}

.recent-post-info h4{
    font-size: 1.4rem;
}

   .recent-post-image {
       padding:30px;
       margin-right: 10px;
   }

.features { /* if it is not a direct child of the ul where the class is applied it will not be affeceted  */
    margin-left: 1.5rem 0;
    font-size:0.5rem;
    text-align: justify;
}

video {
    padding-left: 10px;
    outline: none;
    }


/* Contact Us  Section*/

#contact {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    background: #B1E2D7;
    color: white;
}

.contact-heading {
    margin:0;
    font-size: 5rem;
}

.contact-text {
    font-size: 1.4rem;
    margin-bottom: 3rem;

}

#contact .rotate {
  display: none; 
}

@media (min-width:860px) {
   nav ul {
       justify-content: flex-end;
   }
   
   .rotate {
       margin: 2rem 0 0 0;
       font-size: 3rem;
   }



   .recent-post {
       flex-direction: row;
  
   }

   .recent-post-info {
       flex: 2;
       padding: 1rem;

   }

   .recent-post-image {
       flex: 1;
       margin-right: 10px;

      
    }
    .recent-post-image img{
        width: 100%;
        height: 100%;
    }

    .features { 
 
    font-size:0.7rem;
    text-align: justify;
}

    .move-right{
        order: 1;
    }

    .contact-heading  {
        margin: 0;
        font-size: 8rem;
    }

    #contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;

    }

    #contact .rotate{
        display: block;
    }

    
.aboutside h1{
    font-size:2rem;
    padding-top:50px;

}
.aboutside pre{
     font-size:1rem;
     
}

.aboutside img{
    width: 100%;
    height:100%;
    padding:20px 20 20 20;
   
}


}

.fade-in-custom {
    opacity: 0;
    animation: fadeIn ease-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.delay1 {
    animation-delay: 0.5s;
}

.delay2 {
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}
